<app-navbar class="d-flex flex-column"></app-navbar>
<div class="bg-light bg-gradient d-flex flex-column">
    <div class="p-4 d-flex flex-column">
        <router-outlet class="d-flex flex-column"></router-outlet>
    </div>
</div>


<!--
<app-header fxLayout="column"></app-header>

<div fxLayout="row" fxFlex="100">
  <app-sidebar fxLayout="column" fxFlex="300px"></app-sidebar>
  <div class="content" fxLayout="column" fxFlex>
    <router-outlet></router-outlet>
  </div>
</div>

<app-footer fxLayout="column"></app-footer> -->
